<div class="container">
    <h3 class="text-center mt-5">GENERADOR DE SOLICITUD GRADO ACADEMICO DE BACHILLER</h3>

    <div class="a4page mt-5" id="imprimirGradoBachiller">
        <h4 class="center">"{{anioName}}"</h4>
        <p class="solicito"><strong>Solicio:</strong> Grado Académico de Bachiller</p> <br><br> <br>
        <h4>SEÑOR RECTOR DE LA UNIVERSIDAD NACIONAL DE SAN CRISTOBAL DE HUAMANGA</h4>
        <div class="cabecera">
            <div class="espacio">
            </div>
            <div>
                <p>
                    Yo, {{newBachiller.nombre}} Identificado con DNI Nº {{newBachiller.dni}}, Egresado de la Escuela Profesional {{newBachiller.escuela}} de la {{newBachiller.facultad}}, con Código Universitario Nº {{newBachiller.codeUnsch}}, Domiciliado en {{newBachiller.domicilio}},
                    Ante Usted me presento y expongo:
                </p>
            </div>
        </div>
        <p class="centro">Que, al haber concluido mis estudios superiores, me dirijo a Usted para que designe a quien corresponda se me otorgue el GRADO ACADEMICO DE BACHILLER EN INGENIERÍA DE SISTEMAS, Para lo cual anexo todos los requirimientos.
        </p>
        <ul>
            <li *ngFor="let item of requisitos">{{item.tipo}}</li>
        </ul>
        <p>
            Sin otro particular hago propicia la ocación, para hacerle llegar mis saludos y las muestras de mi especial consideración y estima personal.
        </p>
        <p class="center">Atentamente</p>
        <!-- <p class="solicito">Ayacucho, 03 de Mayo de 2019</p> -->
        <p class="solicito">Ayacucho, {{newBachiller.fecha | slice:8:10}} de {{newBachiller.fecha | slice:5:7 | meses}} de {{newBachiller.fecha | slice:0:4}}.</p>


        <p class="center abajo">........................................</p>
        <p class="center">{{newBachiller.nombre}}</p>
        <p class="center">DNI Nº{{newBachiller.dni}}</p>



    </div>
    <!-- https://bootsnipp.com/snippets/featured/circle-button -->
    <button (click)="basicModal1.show()" data-target="#exampleModalScrollable" mdbWavesEffect id="add-contact-button" type="button" class="btn btn-info btn-circle btn-xl"><i
        style="color:white; font-size: 20px;" class="fas fa-external-link-alt"></i>
      </button>
    <div class="row">
        <div class="fuera col-4 mb-5 mt-5">
            <button type="button" (click)="createPDF()" class="btn btn-info" mdbBtn color="primary" mdbWavesEffect>PDF</button>
        </div>
    </div>

</div>

<!-- inicio de model -->
<div mdbModal #basicModal1="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" (click)="basicModal1.hide()">
                  <span aria-hidden="true">×</span>
                </button>
                <h6 class="modal-title w-100" id="myModalLabel">DATOS DE LA SOLICITUD</h6>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-8">
                        <div class="md-form">
                            <input mdbInput [(ngModel)]="buscaCodigo" type="text" id="buscaCodigo" class="form-control">
                            <label for="buscaCodigo" class="">Codigo Universitario<span>*</span></label>
                        </div>
                    </div>
                    <div class="col-4">
                        <button type="button" mdbBtn color="primary" (click)="bucarxCodigo(basicModal1)" mdbWavesEffect><i class="fa fa-search" aria-hidden="true"></i> </button>
                    </div>
                </div>

                <div class="md-form">
                    <input mdbInput [(ngModel)]="newBachiller.nombre" type="text" id="nombre" class="form-control">
                    <label for="nombre" class="">Alumno<span>*</span> </label>
                </div>
                <!-- <div class="md-form">
                    <input mdbInput [(ngModel)]="newBachiller.codeUnsch" type="number" id="codeUnsch" class="form-control">
                    <label for="codeUnsch" class="">Codigo <span>*</span></label>
                </div> -->
                <div class="md-form">
                    <input mdbInput [(ngModel)]="newBachiller.dni" type="number" id="dni" class="form-control">
                    <label for="dni" class="">DNI<span>*</span></label>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="newBachiller.domicilio" type="text" id="domicilio" class="form-control">
                    <label for="domicilio" class="">Domicilio</label>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="newBachiller.escuela" type="text" id="escuela" class="form-control">
                    <label for="escuela" class="">Escuela</label>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="newBachiller.facultad" type="text" id="facultad" class="form-control">
                    <label for="facultad" class="">Facultad</label>
                </div>
                <div>
                    <label for="date-picker-example">Fecha de Solicitud</label>
                    <input type="date" [(ngModel)]="newBachiller.fecha" class="form-control datepicker">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal1.hide()" mdbWavesEffect>Cancelar</button>
                <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="SaveOrUpdateBachiller(basicModal1)" mdbWavesEffect>Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- fin del model -->