<div class="card">
    <div class="text-white text-center cuerpo">
        <!-- Content -->
        <div class="text-white text-center mt-5 animated fadeIn">
            <!-- <h3 class="card-title h3-responsive font-bold mt-5">BIENVENIDOS AL SISTEMA DE TRÁMITE DOCUMENTARIO</h3> -->
            <h3 class="card-title h3-responsive font-bold mt-5">BIENVENIDOS AL SISTEMA DE TRÁMITE DOCUMENTARIO DE INGENIERÍA DE SISTEMAS-UNSCH</h3>
            <a mdbBtn gradient="peach" mdbWavesEffect [routerLink]="['/Sistemas-unsch/Nosotros/Inicio']">Inicio</a>
            <p class="card-text mt-5">V. 0.1.3-beta</p>
        </div>

    </div>
</div>

<div class="programa">
    <div class="contenedor-video">
        <video autoplay loop poster="./../../../assets/img/backgrounds/bg-talleres.jpg">
            <source src="./../../../assets/video/video.mp4" type="video/mp4">
            <source src="./../../../assets/video/video.webm" type="video/webm">
            <source src="./../../../assets/video/video.ogv" type="video/ogv">
        </video>
    </div>
    <div class="contenido-programas">
        <div class="contenedor">
            <div class="programa-eventos">
                <h2 class="text-center">PROGRAMAS Y EVENTOS</h2>
                <nav class="menu-programa">
                    <a href=""> <i class="iconos fas fa-code" aria-hidden="true"></i> Talleres</a>
                    <a href=""> <i class="iconos fas fa-comment" aria-hidden="true"></i> Conferencias</a>
                    <a href=""> <i class="iconos fas fa-university" aria-hidden="true"></i> Seminarios</a>
                </nav>
                <div id="talleres" class="info-curse ocultar clearfix">
                    <div class="detalle-evento">
                        <h3>HTML, CSS3, JAVASCRIPT</h3>
                        <p> <i class="iconos far fa-clock" aria-hidden="true"></i> 14:00 hrs</p>
                        <p> <i class="iconos fas fa-calendar" aria-hidden="true"></i> 19 Agosto</p>
                        <p> <i class="iconos fas fa-user" aria-hidden="true"></i> Felix ASTO BERROCAL</p>
                    </div>
                    <div class="detalle-evento">
                        <h3>Resposibe Web Design</h3>
                        <p> <i class="iconos far fa-clock" aria-hidden="true"></i> 15:00 hrs</p>
                        <p> <i class="iconos fas fa-calendar" aria-hidden="true"></i> 19 Agosto</p>
                        <p> <i class="iconos fas fa-user" aria-hidden="true"></i> Felix ASTO BERROCAL</p>
                    </div>
                </div>
                <div id="conferencias">

                </div>
                <div id="seminarios">

                </div>
            </div>
        </div>
    </div>
</div>