div.card {
    background: url('../../../assets/img/backgrounds/forest2.jpg');
    height: 900px;
    width: 100%;
}

// .cuerpo {
//     margin-top: 220px;
// }
// talleres
div.programa {
    position: relative;
    div.contenedor-video {
        max-width: 50%;
        overflow-x: hidden;
        video {
            width: 50%;
        }
    }
    div.contenido-programas {
        margin-left: 10%;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}

div.programa-eventos {
    background-color: rgba(225, 225, 225, .8);
    padding: 15px;
    margin-top: 15px;
}

nav.menu-programa {
    width: 100%;
    border-bottom: 2px solid #0d47a1;
    padding-bottom: 10px;
    a {
        display: block;
        text-align: center;
        color: #000;
        text-decoration: none;
        font-family: sans-serif;
        margin-bottom: 10px;
        font-size: 1.2em;
        font-weight: 500;
        .iconos {
            color: #0d47a1!important;
            font-size: 1.1em;
        }
    }
}

// para tabled
@media only screen and (min-width: 768px) {
    div.programa-eventos {
        width: 50%;
    }
    nav.menu-programa {
        display: table;
        a {
            display: table-cell;
            .iconos {
                color: #0d47a1!important;
                font-size: 1.1em;
            }
        }
    }
}

// para laptop
@media only screen and (min-width: 992px) {
    div.programa-eventos {
        width: 30%;
    }
}

div.detalle-evento {
    margin-top: 20px;
    border-bottom: 1px solid black;
    padding: 0 5px;
    p {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 400;
        .iconos {
            color: #0d47a1!important;
            font-size: 1.1em;
        }
    }
}

div.detalle-evento:nth-child(2) {
    border: none;
}