<div class="container">
    <h3 class="text-center mt-5">GENERADOR DE SOLICITUD PRÁCTICAS PROFESIONALES</h3>

    <div class="a4page mt-5" id="imprimirGradoBachiller">
        <!-- <h4 class="center">"{{anioName}}"</h4> -->
        <p class="solicito"><strong>Solicio:</strong> Carta de presentación para <br> realizar prácticas pre profesionales</p> <br><br> <br>
        <h4>Sr. <br> Doc. Efrain Elias Porras Flores <br> DIRECTOR DE LA ESCUELA PROFESIONAL DE INGENIERÍA DE SISTEMAS</h4>
        <div class="cabecera">
            <div class="espacio">
            </div>
            <div>
                <p>
                    Yo, {{newPractica.nombre}} Identificado con DNI Nº {{newPractica.dni}}, con Código Universitario Nº {{newPractica.codeUnsch}}, Domiciliado en {{newPractica.domicilio}} estudiante de la Escuela Profesional {{newPractica.escuela}} de la {{newPractica.facultad}}
                    ante Ud. Con el debido respeto me presento y expongo:
                </p>
            </div>
        </div>
        <p class="centro">Que, en cumpliendo con el Plan Curricular de Estudios de la Escuela Profesional de {{newPractica.escuela}}, y con los reglamentos internos de la Facultad, es requisito indispensable realizar Prácticas Pre Profesionales. Al cumplir con todos los
            requisitos exigidos; recurro a su despacho con la finalidad de solicitarle se me expida una CARTA DE PRESENTACION dirigida a la:
        </p>
        <P>
            <strong>ORGANIZACION:</strong> {{newPractica.organizacion}} <br>
            <strong>NOMBRE DEL REPRESENTANTE:</strong> {{newPractica.representName}} <br>
            <strong>CARGO:</strong> {{newPractica.cargo}} <br>
            <strong>AREA:</strong> {{newPractica.area}} <br>
            <strong>FECHA DE INICIO DE PRÁCTICAS:</strong> {{newPractica.fechaInicio | date :'dd/MM/yyyy'}} <br>
            <strong>FECHA DE FIN DE PRÁCTICAS:</strong> {{newPractica.fechaFin | date :'dd/MM/yyyy'}} <br>
        </P>
        <p class="center">POR LO EXPUESTO</p>
        <p>
            A Ud. Señor Director acceder a mi solicitud por ser justo y legal.
        </p>
        <!-- <p class="solicito">Ayacucho, 03 de Mayo de 2019</p> -->
        <p class="solicito">Ayacucho, {{newPractica.fecha | slice:8:10}} de {{newPractica.fecha | slice:5:7 | meses}} de {{newPractica.fecha | slice:0:4}}.</p>


        <p class="center abajo">........................................</p>
        <p class="center">{{newPractica.nombre}}</p>
        <p class="center">DNI Nº{{newPractica.dni}}</p>



    </div>
    <!-- https://bootsnipp.com/snippets/featured/circle-button -->
    <button (click)="basicModal5.show()" data-target="#exampleModalScrollable" mdbWavesEffect id="add-contact-button" type="button" class="btn btn-info btn-circle btn-xl"><i
      style="color:white; font-size: 20px;" class="fas fa-external-link-alt"></i>
    </button>
    <div class="row">
        <div class="fuera col-4 mb-5 mt-5">
            <button type="button" (click)="createPDF()" class="btn btn-info" mdbBtn color="primary" mdbWavesEffect>PDF</button>
        </div>
    </div>

</div>

<!-- inicio de model -->
<div mdbModal #basicModal5="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" (click)="basicModal5.hide()">
                <span aria-hidden="true">×</span>
              </button>
                <h6 class="modal-title w-100 text-center" id="myModalLabel">DATOS DE LA SOLICITUD DE PRÁCTICAS</h6>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-8">
                        <div class="md-form">
                            <input mdbInput [(ngModel)]="buscaCodigo" type="text" id="buscaCodigo" class="form-control">
                            <label for="buscaCodigo" class="">Codigo Universitario<span>*</span></label>
                        </div>
                    </div>
                    <div class="col-4">
                        <button type="button" mdbBtn color="primary" (click)="bucarxCodigo(basicModal5)" mdbWavesEffect><i class="fa fa-search" aria-hidden="true"></i> </button>
                    </div>
                </div>

                <div class="md-form">
                    <input mdbInput [(ngModel)]="newPractica.nombre" type="text" id="nombrepractica" class="form-control">
                    <label for="nombrepractica" class="">Alumno<span>*</span> </label>
                </div>
                <!-- <div class="md-form">
                    <input mdbInput [(ngModel)]="newPractica.codeUnsch" type="number" id="codeUnschpractica" class="form-control">
                    <label for="codeUnschpractica" class="">Codigo <span>*</span></label>
                </div> -->
                <div class="md-form">
                    <input mdbInput [(ngModel)]="newPractica.dni" type="number" id="dnipractica" class="form-control">
                    <label for="dnipractica" class="">DNI<span>*</span></label>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="newPractica.domicilio" type="text" id="domiciliopractica" class="form-control">
                    <label for="domiciliopractica" class="">Domicilio</label>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="newPractica.organizacion" type="text" id="organizationpractica" class="form-control">
                    <label for="organizationpractica" class="">Organización</label>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="newPractica.representName" type="text" id="presentantepractica" class="form-control">
                    <label for="presentantepractica" class="">Representante</label>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="newPractica.cargo" type="text" id="cargopractica" class="form-control">
                    <label for="cargopractica" class="">Cargo del representante</label>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="newPractica.area" type="text" id="areapractica" class="form-control">
                    <label for="areapractica" class="">Area de desenvolvimiento</label>
                </div>
                <div>
                    <label for="date-picker-example">Fecha de inicio de prácticas</label>
                    <input type="date" [(ngModel)]="newPractica.fechaInicio" class="form-control datepicker">
                </div>
                <div>
                    <label for="date-picker-example">Fecha de fin de prácticas</label>
                    <input type="date" [(ngModel)]="newPractica.fechaFin" class="form-control datepicker">
                </div>
                <div>
                    <label for="date-picker-example">Fecha de solicitud</label>
                    <input type="date" [(ngModel)]="newPractica.fecha" class="form-control datepicker">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal5.hide()" mdbWavesEffect>Cancelar</button>
                <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="SaveOrUpdatePracticas(basicModal5)" mdbWavesEffect>Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- fin del model -->