<div class="container mt-5 mb-5">
    <h3 class="text-center text-capitalize">Configuraciones</h3>
    <div class="row mb-5">
        <div class="col-12">
            <div class="md-form">
                <input mdbInput type="text" id="anio" class="form-control" name="anio" [(ngModel)]="newDate.anio">
                <label for="anio"> <i class="fas fa-calendar"></i> Nombre del año</label>
            </div>
        </div>
        <div class="col-6">
            <div class="md-form">
                <input mdbInput type="text" id="directorName" class="form-control" name="directorName" [(ngModel)]="newDate.directorName">
                <label for="directorName"> <i class="fas fa-user"></i> Director(a)</label>
            </div>
            <!-- inicio radio -->
            <table>
                <thead>
                    <td>Sexo del Director(a)</td>
                </thead>
                <tbody>
                    <tr *ngFor="let item of sexos">
                        <td (dblclick)="radioDesSelectSexo()">
                            <div class="md-radio">
                                <input type="radio" id="{{item.tipo}}" name="radioNameSexo" [checked]="item.valor === newDate.sexoDirector" [value]="item.tipo" (change)="radioSelectSexo(item)">
                                <label for="{{item.tipo}}">{{item.tipo}}</label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- fin de radio -->
        </div>
        <div class="col-6">
            <div class="md-form">
                <input mdbInput type="text" id="secretariaName" class="form-control" [(ngModel)]="newDate.secretariaName">
                <label for="secretariaName"><i class="fas fa-female"></i> Secretario(a)</label>
            </div>
            <!-- inicio radio -->
            <table>
                <thead>
                    <td>Sexo del Secretario(a)</td>
                </thead>
                <tbody>
                    <tr *ngFor="let item of sexos">
                        <td (dblclick)="radioDesSelectSexoSecre()">
                            <div class="md-radio">
                                <input type="radio" id="{{item.tipo+2}}" name="radioNameSexoSecre" [checked]="item.valor === newDate.sexoSecretaria" [value]="item.tipo" (change)="radioSelectSexoSecre(item)">
                                <label for="{{item.tipo+2}}">{{item.tipo}}</label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- fin de radio -->
        </div>
    </div>
    <button type="button" mdbBtn color="primary" mdbWavesEffect (click)="SaveOrUpdatedData()">Guardar</button>
</div>