<div class="container">
    <h3 class="text-center mt-5">GENERADOR DE SOLICITUD CURSO ÚNICO</h3>

    <div class="a4page mt-5" id="imprimirGradoBachiller">
        <!-- <h4 class="center">"{{anioName}}"</h4> -->
        <p class="solicito"><strong>Solicio:</strong> Examen de curso único</p> <br><br> <br>
        <h4>Sr. <br> Dr. Efrain Elias Porras Flores <br> DIRECTOR DE LA ESCUELA PROFESIONAL DE INGENIERÍA DE SISTEMAS</h4>
        <div class="cabecera">
            <div class="espacio">
            </div>
            <div>
                <p>
                    Yo, <strong>{{newUnico.nombre}} </strong>Identificado con DNI Nº {{newUnico.dni}}, con Código Universitario Nº {{newUnico.codeUnsch}}, Domiciliado en {{newUnico.domicilio}} estudiante de la Escuela Profesional IngenierÍa de Sistemas
                    ante Ud. Con el debido respeto me presento y expongo:
                </p>
            </div>
        </div>
        <p class="centro">Que, habiendo aprobado la mayoria de mis cursos de pregrado en la Escuela de Ingeniria de Sistemas, y solo quedando un curso por aprobar, me dirijo a si digna autoridad para
            <strong>SOLICITAR, el Examen de Curso Único;</strong> la misma es la siguiente
        </p>
        <table>
            <thead>
                <tr>
                    <th>Sicla</th>
                    <th>Asignatura</th>
                    <th>Credito</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{newUnico.sigla}}</td>
                    <td>{{newUnico.asignatura}}</td>
                    <td>{{newUnico.credito}}</td>
                </tr>
            </tbody>
        </table>
        <p>Al respecto adjunto los documentos pertinentes:</p>
        <p>
            a) Certificado de Estudios <br> b) Boleta de pago por derecho de trámite <br> c) Sílabo
        </p>
        <p class="center">POR LO EXPUESTO</p>
        <p>
            A Ud. Señor Director acceder a mi solicitud por ser justo y legal.
        </p>
        <!-- <p class="solicito">Ayacucho, 03 de Mayo de 2019</p> -->
        <p class="solicito">Ayacucho, {{newUnico.fecha | slice:8:10}} de {{newUnico.fecha | slice:5:7 | meses}} de {{newUnico.fecha | slice:0:4}}.</p>


        <p class="center abajo">........................................</p>
        <p class="center">{{newUnico.nombre}}</p>
        <p class="center">DNI Nº{{newUnico.dni}}</p>



    </div>
    <!-- https://bootsnipp.com/snippets/featured/circle-button -->
    <button (click)="basicModal5.show()" data-target="#exampleModalScrollable" mdbWavesEffect id="add-contact-button" type="button" class="btn btn-info btn-circle btn-xl"><i
    style="color:white; font-size: 20px;" class="fas fa-external-link-alt"></i>
  </button>
    <div class="row">
        <div class="fuera col-4 mb-5 mt-5">
            <button type="button" (click)="createPDF()" class="btn btn-info" mdbBtn color="primary" mdbWavesEffect>PDF</button>
        </div>
    </div>

</div>

<!-- inicio de model -->
<div mdbModal #basicModal5="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" (click)="basicModal5.hide()">
              <span aria-hidden="true">×</span>
            </button>
                <h4 class="modal-title w-100" id="myModalLabel">DATOS DE LA SOLICITUD</h4>
            </div>
            <div class="modal-body">
                <div class="md-form">
                    <input mdbInput [(ngModel)]="newUnico.nombre" type="text" id="unicoalumnos" class="form-control">
                    <label for="unicoalumnos" class="">Alumno<span>*</span> </label>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="newUnico.codeUnsch" type="number" id="inicocodigo" class="form-control">
                    <label for="inicocodigo" class="">Codigo <span>*</span></label>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="newUnico.dni" type="number" id="inicodni" class="form-control">
                    <label for="inicodni" class="">DNI<span>*</span></label>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="newUnico.domicilio" type="text" id="unicodomicilio" class="form-control">
                    <label for="unicodomicilio" class="">Domicilio</label>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="newUnico.sigla" type="text" id="unicosicla" class="form-control">
                    <label for="unicosicla" class="">Sicla</label>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="newUnico.asignatura" type="text" id="unicoasignatura" class="form-control">
                    <label for="unicoasignatura" class="">Asignatura</label>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="newUnico.credito" type="text" id="uniccocredito" class="form-control">
                    <label for="uniccocredito" class="">Credito</label>
                </div>
                <div>
                    <label for="date-picker-example">Fecha de Solicitud</label>
                    <input type="date" [(ngModel)]="newUnico.fecha" class="form-control datepicker">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal5.hide()" mdbWavesEffect>Cancelar</button>
                <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="SaveOrUpdatePracticas(basicModal5)" mdbWavesEffect>Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- fin del model -->