<div class="container">
    <h3 class="text-center mt-5">GENERADOR DE CONSTANCIA DE EGRESADO</h3>

    <div class="a4page mt-5" id="imprimirpfg">
        <div>
            <img class="peque" src="./../../../../assets/img/logos/logo-constancia.jpg" alt="Responsive image">
        </div>
        <div class="titulo">
            <h3>HACE CONSTAR</h3>
        </div>
        <div class="cuerpo">
            <p>Que constancia que el señor, <strong>{{encontrado.alumno}}</strong>, con código de Estudiante Nº <strong>{{encontrado.codigo}}</strong> es alumno de Escuela de la serie {{encontrado.serie}}, matriculada en el semestre 2018-I

            </p>
            <p class="mt-5">
                Se expide la presente constancia a solicitud del interesado para afines estrictamente academicos
            </p>
            <p class="fecha mt-5">
                Ayacucho, {{encontrado.constanciaFin | slice:8:10}} de {{encontrado.constanciaFin | slice:5:7 | meses}} de {{encontrado.constanciaFin | slice:0:4}}.
            </p>
            <p class="firma">
                ................................... <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DECANO

            </p>
        </div>
        <div class="concopia">
            <p>Recibo Nº{{encontrado.reciboFin}} <br>Archivo <br> EFFP/srtg</p>

        </div>
        <div class="escuela">
            <p>ESCUELA PROFESIONAL DE <br>INGENIERÍA DE SISTEMAS <br>Av. Independencia S/N <br> Ciudad Universitaria <br>Tel. 066 - 327273 </p>
        </div>
    </div>
    <div class="row">
        <div class="fuera col-4 mb-5 mt-5">
            <button type="button" (click)="createPDF()" class="btn btn-info" mdbBtn color="primary" mdbWavesEffect>PDF</button>
        </div>
    </div>
    <!-- https://bootsnipp.com/snippets/featured/circle-button -->
    <button (click)="basicModal1.show()" data-target="#exampleModalScrollable" mdbWavesEffect id="add-contact-button" type="button" class="btn btn-info btn-circle btn-xl"><i
    style="color:white; font-size: 20px;" class="fas fa-external-link-alt"></i>
  </button>
</div>
<!-- inicio de model -->
<div mdbModal #basicModal1="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" (click)="basicModal1.hide()">
              <span aria-hidden="true">×</span>
            </button>
                <h4 class="modal-title w-100" id="myModalLabel">DATOS DE CONSTANCIA</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-8">
                        <div class="md-form">
                            <input mdbInput #dato [(ngModel)]="buscaCodigo" (keyup.enter)="bucarxCodigo(basicModal1)" type="text" id="buscaCodigo" class="form-control">
                            <label for="buscaCodigo" class="">Codigo Universitario<span>*</span></label>
                        </div>
                    </div>
                    <div class="col-4">
                        <button type="button" mdbBtn color="primary" (click)="bucarxCodigo(basicModal1)" mdbWavesEffect><i class="fa fa-search" aria-hidden="true"></i> </button>
                    </div>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="encontrado.alumno" type="text" id="nombre" class="form-control">
                    <label for="nombre" class="">Alumno<span>*</span> </label>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="encontrado.dni" type="text" id="dni" class="form-control">
                    <label for="dni" class="">DNI<span>*</span></label>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="encontrado.escuela" type="text" id="escuela" class="form-control">
                    <label for="escuela" class="">Escuela<span>*</span></label>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="encontrado.facultad" type="text" id="facultad" class="form-control">
                    <label for="facultad" class="">Facultad<span>*</span></label>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="encontrado.semestreFin" type="text" id="semestreFin" class="form-control">
                    <label for="semestreFin" class="">Semestre culminado</label>
                </div>
                <div>
                    <label for="date-picker-example">Fecha de semestre culminado</label>
                    <input type="date" [(ngModel)]="encontrado.fechaFin" class="form-control datepicker">
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="encontrado.reciboFin" type="text" id="reciboFin" class="form-control">
                    <label for="reciboFin" class="">Nº de recibo</label>
                </div>
                <div>
                    <label for="date-picker-example">Fecha de constancia</label>
                    <input type="date" [(ngModel)]="encontrado.constanciaFin" class="form-control datepicker">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal1.hide()" mdbWavesEffect>Cancelar</button>
                <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="SaveOrUpdateEgresado(basicModal1)" mdbWavesEffect>Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- fin del model -->