<div class="search-box">
    <div class="search-center">
        <input type="text" [(ngModel)]="term" name="term" placeholder="Search...">
        <div class="search"></div>
    </div>
</div>

<div class="container-fluid">
    <h3 class="text-center mt-5">Lista de practicas</h3>
    <div class="card">
        <div class="card-body">
            <table class="table table-hover table-responsive-md table-fixed">
                <thead>
                    <tr class="table-dark">
                        <th>DNI</th>
                        <th>NOMBRE Y APELLIDOS</th>
                        <th>CODIGO</th>
                        <th>SERIE</th>
                        <th>CREDITOS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of alumnos |filter:term | paginate: { itemsPerPage: 40, currentPage: p }">
                        <td>{{item.dni}}</td>
                        <td>{{item.alumno}}</td>
                        <td>{{item.codigo}}</td>
                        <td>{{item.serie}}</td>
                        <td>{{item.creditos}}</td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>