<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark cyan">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a [routerLink]="['']" routerLinkActive="active" class="navbar-brand">SISTEMAS UNSCH</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" [routerLink]="['/Sistemas-unsch/Nosotros/Inicio']" mdbWavesEffect>Nosotros</a>
            </li>

            <li class="nav-item dropdown" dropdown routerLinkActive="active">
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect routerLinkActive="active">
               Constancia<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/Sistemas-unsch/Constancia/Ingreso']" routerLinkActive="active">Ingreso</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/Sistemas-unsch/Constancia/Egreso']" routerLinkActive="active">Egreso</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/Sistemas-unsch/Constancia/Serie']" routerLinkActive="active">Serie</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/Sistemas-unsch/Constancia/Estadistica']" routerLinkActive="active">Estadistica</a>

                </div>
            </li>
            <li class="nav-item dropdown" dropdown routerLinkActive="active">
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect routerLinkActive="active">
               Solicitud<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/Sistemas-unsch/Solicitud/Practicas']" routerLinkActive="active">Practicas</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/Sistemas-unsch/Solicitud/Bachiller']" routerLinkActive="active">Grado de bachiller</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/Sistemas-unsch/Solicitud/Egresado']" routerLinkActive="active">Constancia de egresado</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/Sistemas-unsch/Solicitud/Unico']" routerLinkActive="active">Curso unico</a>

                </div>
            </li>
            <li class="nav-item dropdown" dropdown routerLinkActive="active">
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect routerLinkActive="active">
               Alumnos<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/Sistemas-unsch/Practicas/Practicas']" routerLinkActive="active">Practicas</a>


                </div>
            </li>
            <li class="nav-item dropdown" dropdown routerLinkActive="active">
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect routerLinkActive="active">
               Configuraciones<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/Sistemas-unsch/Config/Datos']" routerLinkActive="active">Datos</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/Sistemas-unsch/Config/Lista']" routerLinkActive="active">Alumnos</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/Sistemas-unsch/Config/Profesores']" routerLinkActive="active">Profesores</a>
                </div>
            </li>

            <!-- Dropdown -->


        </ul>
        <!-- Links -->

    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->