<table class="table table-hover mt-5">
    <thead>
        <tr>
            <th scope="col">
                <h3>Reportes</h3>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of menus">
            <th (click)="emitValor(item, link1)" #link1 class="selector animated fadeIn fast" scope="row">{{item.tipo}}
            </th>
        </tr>
    </tbody>
</table>