<div class="container">
    <h3 class="text-center mt-5">GENERADOR DE CONSTANCIA DE MATRICULA</h3>

    <div class="a4page mt-5" id="imprimirpfg">
        <div class="logotipos">
            <img class="peque" src="./../../../../assets/img/logos/logo-constancia.jpg">
        </div>
        <div class="titulo">
            <h3>CONSTANCIA DE MATRICULA</h3>
        </div>
        <div class="cuerpo">
            <p>La Dirección de la Escuela Profesional de {{encontrado.escuela}} de la Facultad de {{encontrado.facultad}}, de la Universidad Nacional de San Cristobal de Huamanga (UNSCH), deja constancia que el señor, <strong>{{encontrado.alumno}}</strong>,
                con código universitario Nº <strong>{{encontrado.codigo}}</strong> y DNI Nº <strong>{{encontrado.dni}}</strong>, alumno de Escuela Profesional de IngenierÍa de Sistemas, inicio sus estudios en el semestre académico {{encontrado.semestreInicio}}
                de fecha {{encontrado.fechaInicio | slice:8:10}} de {{encontrado.fechaInicio | slice:5:7 | meses}} de {{encontrado.fechaInicio | slice:0:4}}.
            </p>
            <p class="mt-5">
                Se expide la presente constancia a solicitud del interesado para afines estrictamente academicos
            </p>
            <p class="fecha mt-5">
                Ayacucho, {{encontrado.constanciaInicio | slice:8:10}} de {{encontrado.constanciaInicio | slice:5:7 | meses}} de {{encontrado.constanciaInicio | slice:0:4}}.
            </p>
            <p class="firma">
                ................................... <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DECANO

            </p>
        </div>
        <div class="concopia">
            <p>Recibo Nº{{encontrado.reciboInicio}} <br>Archivo <br> EFFP/srtg</p>

        </div>
        <div class="escuela">
            <p>ESCUELA PROFESIONAL DE <br>INGENIERÍA DE SISTEMAS <br>Av. Independencia S/N <br> Ciudad Universitaria <br>Tel. 066 - 327273 </p>
        </div>
    </div>
    <div class="row">
        <div class="fuera col-4 mb-5 mt-5">
            <button type="button" (click)="createPDF()" class="btn btn-info" mdbBtn color="primary" mdbWavesEffect>PDF</button>
        </div>
    </div>
    <!-- https://bootsnipp.com/snippets/featured/circle-button -->
    <button (click)="basicModal1.show()" data-target="#exampleModalScrollable" mdbWavesEffect id="add-contact-button" type="button" class="btn btn-info btn-circle btn-xl"><i
    style="color:white; font-size: 20px;" class="fas fa-external-link-alt"></i>
  </button>
</div>

<div mdbModal #basicModal1="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" (click)="basicModal1.hide()">
              <span aria-hidden="true">×</span>
            </button>
                <h4 class="modal-title w-100" id="myModalLabel">DATOS DE CONSTANCIA</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-8">
                        <div class="md-form">
                            <input mdbInput [(ngModel)]="buscaCodigo" (keyup.enter)="bucarxCodigo(basicModal1)" type="text" id="buscaCodigo" class="form-control">
                            <label for="buscaCodigo" class="">Codigo Universitario<span>*</span></label>
                        </div>
                    </div>
                    <div class="col-4">
                        <button type="button" mdbBtn color="primary" (click)="bucarxCodigo(basicModal1)" mdbWavesEffect><i class="fa fa-search" aria-hidden="true"></i> </button>
                    </div>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="encontrado.alumno" type="text" id="nombre" class="form-control">
                    <label for="nombre" class="">Alumno<span>*</span> </label>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="encontrado.dni" type="number" id="dni" class="form-control">
                    <label for="dni" class="">DNI<span>*</span></label>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="encontrado.semestreInicio" type="text" id="fecha_nacimiento" class="form-control">
                    <label for="fecha_nacimiento" class="">Semestre Inicio</label>
                </div>
                <div>
                    <label for="date-picker-example">Fecha de semestre Inicio</label>
                    <input type="date" [(ngModel)]="encontrado.fechaInicio" class="form-control datepicker">
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="encontrado.reciboInicio" type="text" id="codigo" class="form-control">
                    <label for="codigo" class="">Nº de recibo</label>
                </div>
                <div>
                    <label for="date-picker-example">Fecha de constancia</label>
                    <input type="date" [(ngModel)]="encontrado.constanciaInicio" class="form-control datepicker">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal1.hide()" mdbWavesEffect>Cancelar</button>
                <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="SaveOrUpdateIngreso(basicModal1)" mdbWavesEffect>Guardar</button>
            </div>
        </div>
    </div>
</div>