.a4page {
    font-family: Tahoma;
    // width: 180mm;
    // width: 210mm;
    // height: 245mm;
    // height: 205mm;
    // border: 0.2em solid brown;
    padding: 70px;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

h3 {
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Tahoma;
    font-weight: 700;
    color: black;
}

.firma {
    margin-top: 60px;
}

.concopia {
    margin-top: 30px;
    float: left;
    p {
        font-size: 12px!important;
        font-family: Tahoma;
    }
}

.escuela {
    margin-top: 30px;
    // margin-right: 5px;
    float: right;
    border-left: 4px solid black;
    // height: 500px;
    p {
        margin-left: 5px;
        font-size: 12px!important;
        font-family: Tahoma;
    }
}

.modal-dialog {
    overflow-y: initial !important
}

.modal-body {
    height: 400px;
    overflow-y: auto;
}

@media only screen and (max-width: 768px) {
    h2,
    h3 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 9px;
        // color: red;
        font-weight: 400;
    }
    p,
    .escuela p,
    .concopia p {
        font-size: 10px;
        // color: teal;
    }
    .logotipos img {
        width: -80%;
        height: -80%;
    }
}

@media only screen and (max-width: 480px) {
    h2,
    h3 {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 8px;
        // color: green;
        font-weight: 200;
    }
    p,
    .escuela p,
    .concopia p {
        font-size: 8px;
    }
    .logotipos img {
        width: -80%;
        height: -80%;
    }
}

@media only screen and (min-width: 1000px) {
    .modal-body {
        height: 450px;
        overflow-y: auto;
    }
}

.objetfit>img {
    width: 150px;
    height: 150px;
    object-fit: none;
    background-color: black;
}

img.peque {
    margin-left: 20px;
    width: 400px;
    height: 60px;
}

.cuerpo {
    // border: 0.2em solid blue;
    margin: 30px;
    p {
        line-height: 200%;
    }
}