<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="md-form">
                <input mdbInput [(ngModel)]="profesor.estudio" type="text" id="estudio" class="form-control">
                <label for="estudio" class="">Estudio</label>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="md-form">
                <input mdbInput [(ngModel)]="profesor.nombre" type="text" id="nombre" class="form-control">
                <label for="nombre" class="">Nombre</label>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="md-form">
                <input mdbInput [(ngModel)]="profesor.apellidos" type="text" id="apellidos" class="form-control">
                <label for="apellidos" class="">Apellidos</label>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <button type="button" (click)="GuardaProfesor(profesor)" mdbBtn color="primary" mdbWavesEffect>Guardar</button>
        </div>
    </div>

    <thead class="card">
        <thead class="card-body">
            <table class="table table-hover table-responsive-md table-fixed">
                <thead>
                    <tr class="table-dark">
                        <th colspan="2">NOMBRE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of profesores">
                        <td> {{item.estudio}} {{item.nombre}} {{item.apellidos}} </td>
                        <td>
                            <div (click)="eliminar(item.$key)"> <i class="far fa-trash-alt"></i></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </thead>
    </thead>
</div>